@import "../../app.scss";

.header {
  color: #ffffff;
  max-width: 10rem;
  background: linear-gradient(
    120deg,
    #828dcb 0%,
    rgba(130, 141, 203, 0.6) 74.3%,
    rgba(182, 213, 233, 0.2) 116.08%
  );
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0px;
  width: 100%;

  // Logo
  &__logo-wrapper {
    margin-left: 15px;
  }

  &__logo {
    font-size: 40px;
    font-family: "Audiowide Regular", sans-serif;
  }

  // Nav bar list
  &__list {
    &-item {
      margin: 25px 15px;
    }

    // NavLink ссылки
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px 10px 40px;
      font-size: $main-font-size;
      text-align: center;
      transition: all 0.2s ease-in-out;

      color: #000000;
      border-radius: 6px;
    }

    [data-nameIcon="Home"] {
      background: 12% center / 1.2rem no-repeat
        url("../../assets/icons/home-icon.svg");

      &:hover {
        background: 12% center / 1.2rem no-repeat
            url("../../assets/icons/home-icon.svg"),
          #afc7eb;
      }

      &.active {
        background: 12% center / 1.2rem no-repeat
            url("../../assets/icons/home-icon.svg"),
          linear-gradient(145deg, #e6e6e6, #ffffff);
      }
    }

    [data-nameIcon="Library"] {
      background: 12% center / 1.2rem no-repeat
        url("../../assets/icons/list-icon.svg");

      &:hover {
        background: 12% center / 1.2rem no-repeat
            url("../../assets/icons/list-icon.svg"),
          #afc7eb;
      }

      &.active {
        background: 12% center / 1.2rem no-repeat
            url("../../assets/icons/list-icon.svg"),
          linear-gradient(145deg, #e6e6e6, #ffffff);
      }
    }

    // Submenu
    &-submenu {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 15px 10px 40px;
      font-size: $main-font-size;
      transition: all 0.2s ease-in-out;

      color: #000000;
      border-radius: 6px;

      &.active{
        transition: none;
        background: 15% 45% / 1rem no-repeat
        url("../../assets/icons/right-arrow-active.svg"),
        linear-gradient(145deg, #e6e6e6, #ffffff);

        &:hover{
          background: 15% 45% / 1rem no-repeat
          url("../../assets/icons/right-arrow-active.svg"),
          linear-gradient(145deg, #e6e6e6, #ffffff);
        }
      }

      &:hover {
        background: #afc7eb;
      }
    }
  }
}
