.mini-player {
  //* Playlists
  .playlist-item {
    cursor: pointer;
  }
  .playlist-item.selected {
    color: rgb(255, 0, 0);
  }

  //*  Music list
  .mini-player__playlist {
    .playlist {
    }
  }

  //* Wave component
  .wave {
    div .controls {
      //* Volume range

      input[type="range"].volume-range {
        // width: 100%;
        margin: 2.5px 0;
        background-color: transparent;
        -webkit-appearance: none;
      }
      input[type="range"].volume-range:focus {
        outline: none;
      }
      input[type="range"].volume-range::-webkit-slider-runnable-track {
        background: rgba(0, 0, 0, 0.4);
        border: 0;
        border-radius: 10px;
        width: 100%;
        height: 10px;
        cursor: pointer;
      }
      input[type="range"].volume-range::-webkit-slider-thumb {
        margin-top: -2.5px;
        width: 15px;
        height: 15px;
        background: #6374c8;
        border: 2.5px solid rgba(99, 116, 200, 0.8);
        border-radius: 10px;
        cursor: pointer;
        -webkit-appearance: none;
      }
      input[type="range"].volume-range:focus::-webkit-slider-runnable-track {
        background: #7d7d7d;
      }
      input[type="range"].volume-range::-moz-range-track {
        background: rgba(0, 0, 0, 0.4);
        border: 0;
        border-radius: 10px;
        width: 100%;
        height: 10px;
        cursor: pointer;
      }
      input[type="range"].volume-range::-moz-range-thumb {
        width: 15px;
        height: 15px;
        background: #6374c8;
        border: 2.5px solid rgba(99, 116, 200, 0.8);
        border-radius: 10px;
        cursor: pointer;
      }
      input[type="range"].volume-range::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 5.1px 0;
        color: transparent;
        width: 100%;
        height: 10px;
        cursor: pointer;
      }
      input[type="range"].volume-range::-ms-fill-lower {
        background: #000000;
        border: 0;
        border-radius: 20px;
      }
      input[type="range"].volume-range::-ms-fill-upper {
        background: rgba(0, 0, 0, 0.4);
        border: 0;
        border-radius: 20px;
      }
      input[type="range"].volume-range::-ms-thumb {
        width: 15px;
        height: 15px;
        background: #6374c8;
        border: 2.5px solid rgba(99, 116, 200, 0.8);
        border-radius: 10px;
        cursor: pointer;
        margin-top: 0px;
      }
      input[type="range"].volume-range:focus::-ms-fill-lower {
        background: rgba(0, 0, 0, 0.4);
      }
      input[type="range"].volume-range:focus::-ms-fill-upper {
        background: #7d7d7d;
      }
      @supports (-ms-ime-align: auto) {
        input[type="range"].volume-range {
          margin: 0;
        }
      }

      //* Play Pause icons
      button {
        cursor: pointer;
        padding: 0;
        background: none;
        border: none;
        max-width: 3rem;

        svg {
          max-width: 3rem;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
