$main-font: "Source Sans Pro", sans-serif;
$title-font: "Spline Sans", sans-serif;

$manrope-regular: "Manrope Regular", sans-serif;
$manrope-bold: "Manrope Bold", sans-serif;
$manrope-light: "Manrope Light", sans-serif;
$manrope-regular: "Manrope Regular", sans-serif;

$main-font-size: 18px;
